.header {
  display: flex;
  align-items: center;
  margin: 1rem;
 
  &__logo {
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.8rem;
  }
  &__logo-img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.5rem;
  }

  &__logo-text {
    color: #eaa79e;
    font-size: 2rem;
  }

  &__btn {
    border: none;
    background-color: transparent;
    color: #949ea0;
    font-size: 1.4rem;
    font-family: main;
    cursor: pointer;
    transition: all 0.2s;

    &:not(:last-child) {
      margin-right: 6rem;
    }

    &--login {
      color: #eaa79e;
    }

    &--new {
      color: white;
      background-image: linear-gradient(to right, #ecbcb3, #eaa79e);
      border-radius: 5rem;
      padding: 1.2rem 2.2rem;
      margin-right: 2rem;
    }

    &:active,
    &:hover {
      transform: scale(1.2);
    }
  }
}

.form {
  margin: 3rem;
}

.div {
  padding: 0 1rem;

  &--btn {
    color: white;
    background-image: linear-gradient(270deg, #ecbcb3 0%, #eaa79e 100%);
    height: 5rem;
    border: none;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;

    &:hover {
      transform: translateY(-0.2rem) scale(1.005);
      box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);
    }
  }
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-row-item {
  width: 50%;
}

.profile-info{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all .2s;

  &:hover{
    transform: scale(1.1);
  }

  &__text{
    font-size: 1.4rem;
    font-family: main;
    color: #949ea0;
    padding-right: 1.5rem;
  }
}

.profile-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  &__user{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }

  &__img{
    margin-right: 2rem;
  }

  &__user-text{
    font-size: 2.5rem;
    font-family: main;
    font-weight: 300;
    line-height: 2.5rem;
    color: #334144;
    
  }

  &__info{
    display: flex;
    flex-direction: column;
    
  }

  &__label{
    
    font-size: 1rem;
    font-weight: 400;
    font-family: main;
    line-height: 1rem;
    color: #949EA0;
    text-align: left;
    margin-bottom: 1.6rem;

    
  }

  &__text{
    font-size: 1.8rem;
    font-weight: 400;
    font-family: main;
    line-height: 1.3rem;
    color: #334144;
    margin-bottom: 3rem;
    text-align: left;
  }
  
  &__btn{
    width: 15rem;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: main;
    padding: 1.8rem 0;
    margin: 5.9rem 0;
    background-image: linear-gradient(270deg, #ECBCB3 0%, #EAA79E 100%);
    cursor: pointer;
    transition: all .2s;

    &:hover{
      transform: scale(1.08);
    }
  }

}

